:root {
    --red: rgb(191, 76, 76);
    --yellow:rgb(255, 249, 210);
    --text-color: #1f2937;
    --btn-color1: #393d66;
    --btn-color2: #ffffff;
    --link-color: #425775;
}

body {
    /*font-family: "Zen Kaku Gothic New", sans-serif;*/
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: #fff;
    color: rgb(191, 76, 76);
    overflow: hidden;
    z-index: 1000;
    
}

#close-notice {
    padding: 8px;
    color: #1f2937;
}

#count-down {

    padding: 0 10px;
}

.nav-header {
    background-color: rgb(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.nav-header a {
    color: white;

}
#close-nav{
    font-size: x-large;
    
}
.nav-btn {
    color: white;
    padding: 10px;
    font-size: x-large;
}

.h-logo-ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-logo {
    height: 30px;
    object-fit: contain;
    object-position: center;
}

.logo-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h-logo-icon {
    height: 15px;
    object-fit: contain;
    object-position: center;
}

/*ナヴィゲーション*/
.nav-window{
    background-color: #ffffff;
    width: 85%;
    overflow: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2000;
    padding: 20px 30px;
    transition: left 0.4s ease;
}
.nav-window a{
    display: block;
    padding: 15px 0;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    font-size: small;
}
.nav-window ul{
    list-style-type: none;
}
.nav-overlay{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1500;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Safari/iOS */
}
.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    
}
/* ルート要素を相対配置にして動画を敷き詰める */
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    /* 好みで調整 */
    overflow: hidden;
}

/* 動画自体を背景のように振る舞わせる */
.hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 余白なくトリミング */
    z-index: -2;
    /* 下層に配置 */
}

/* オーバーレイ（暗めの黒を半透明で） */
.hero_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    pointer-events: none;
}

/* コンテンツを中央に */
.hero_content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 70px 0;
    pointer-events: visible;
    color: white;
}

.hero_content h2 {
    margin-top: auto;
}

.hero_content .cta-btn {
    margin-top: auto;
    justify-self: end;
    color: white;
    display: block;
    padding: 15px 30px;
    border-radius: 2px;
    font-size: small;
    border: solid #fff 1px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.179);
}

/**/
.sect {
    padding: 10px;
}

.title-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.title-ct h3{
    font-size: x-large;
    
}
.title-ct .icon {
    height: 15px;

}

.items-ct {
    overflow: auto;
    padding: 10px;

}

.items {
    display: flex;
    gap: 10px;

}

.item-card {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    width: 40%;
    border: solid #f3f3f3 1px;
    border-radius: 0px;
    line-height: 1rem;
    flex-shrink: 0;
    background-color: #fff;
}

.item-ct {
    padding: 10px;
}

.item-comment {
    font-size: x-small;
    color: #777;
}

.item-info {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 0;
}

.item-name-1 {
    font-size: small;
    font-weight: normal;

}

.item-price-1 {
    font-size: small;
    line-height: 1em;
    font-weight: bold;
     font-family: "Noto Sans JP", sans-serif;
}

.item-price-dis {
    line-height: 1em;
    color: red;
    font-size: small;
    font-weight: bold;
    font-family: "Noto Sans JP", sans-serif;
}

.strike {
    text-decoration: line-through;
}

.sp-label {
    /*font-family: "GFS Didot", serif;*/
    color: white;
    background-color: var(--red);
    font-size: x-small;
    padding: 2px 4px;
    align-self: flex-start;
}

.item-img-1 {
    width: 100%;
}

.item-btns {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px 0;

}

.item-btns button {
    padding: 10px 2px;
    border: solid 1px rgb(213, 213, 213);

}

.purchase-now {
    background-color: var(--red);
    color: white;
}
.item-link{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


/*カルーセル*/
.carousel {
    overflow: hidden;
    position: relative;
}
.carousel button{
    background-color: #fff;
    padding: 10px 4px;
    border: solid #dbdbdb 1px;
    margin: 3px;
    z-index: 1000;
    font-weight: bold;
}
#prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.carousel-wrapper {
    transition: transform 0.7s ease;
    display: flex;
    
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.indi {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #333;
}

.active {
    background-color: #333;
}

.carousel-item {
    border: solid #eee 1px;
    min-width: 100%;
}

/**/
.sub-hero {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.sub-hero img {
    width: 100%;
}

.sub-hero .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.desc {
    line-height: 1.7rem;
    padding: 0 20px;
    font-size: small;
}

.story-video {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    object-fit: contain;
    object-position: center;
    z-index: -2;
}

.link1 {
    color: var(--text-color);
    display: block;
    text-align: center;
    font-size: small;
    padding: 10px 0;
}
/*top-menu*/
.top-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}
.link-img-ct{
    position: relative;
    display: block;
    
    padding: 0;
    overflow: hidden;
    height: 200px;
}
.link-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: -2;
}
.link-img-ct .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    
}

.link-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-weight: bold;
    z-index: 200;
}


/*review*/
.review-summary{
    display: flex;
    align-items: center;
    font-size: small;
    gap: 10px;
}
.stars{
    height: 20px;
}
.star{
    height: 100%;
}
.p-review{
    margin: 0 20px;
    background-color: rgb(255, 253, 240);
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.p-review h4{
    font-weight: normal;
}

/*レビューカルーセル*/
.r-c-wrapper{
    display: flex;
    position: relative;
}
.r-c-wrapper button{
    font-weight: bold;
}

#r-prev{
    position: absolute;
    top: 50%;
    left: 10px;
}
#r-next{
    position: absolute;
    top: 50%;
    right: 10px;
}
.r-c-item{
    min-width: 100%;
    padding: 20px 40px ;
    
}
.review-title{
    font-size: 1rem;
}
.review-user{
    font-size: small;
    font-weight: normal;
}
.r-card{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.r-indicators{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.review-date{
    align-self: flex-end;
    font-size: x-small;
}
/*特徴*/
.features{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.f-title-wp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.f-icon{
    height: 30px;
}
.f-title{
    font-size: 1.4rem;
    font-weight: 500;
}
.f-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.f-desc{
    font-size: small;
    padding: 20px 0;
}

.kome{
    font-size: x-small;
    color: #666;
}